/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 30, 2023, 9:42:21 PM
    Author     : lvhn1
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

body {
    height: 100vh;
    background-color: #303030;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
a:hover {
    color: #6ac5fe;
}

header {
    background-color: #212121;
    position: relative;
    padding: 0;
}

.navbar {
    background-color: #212121;
    width: 100%;
    height: 80px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 100%;
}

.logo a {
    height: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #6ac5fe;
}

.logo img {
    height: 75%;
}

.main {
    display: flex;
    justify-content: center;
    padding: 32px;
    background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgb(0,0,0) 100%);
    height: fit-content;
}

.login-container {
    background-color: #212121;
    color: white;
    border-radius: 8px;
    width: 100%;
    max-width: 734px;
    height: fit-content;
}

.login-container h1 {
    text-align: center;
    margin: 80px 0px 48px;
}

.login-container #login-error {
    text-align: center;
    background-color: red;
    width: 80%;
    padding: 10px 0;
    margin: 0 10% 20px;
}

.login-form {
    width: 324px;
    margin: 0px auto;
    font-weight: bold;
    padding-bottom: 0px;
}

.login-form .error {
    font-weight: normal;
    color: red;
    font-size: 12px;
    visibility: hidden;
}

.box {
    background-color: #212121;
    color: white;
    width: 100%;
    border: 0px;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    box-sizing: border-box;
    border-radius: 4px;
    padding-inline: 14px;
    min-height: 48px;
    box-shadow: inset 0 0 0 1px #878787;
    margin-top: 5px;
}

#val {
    font-weight: normal;
}

.btn {
    text-align: center;
    background-color: #6ac5fe;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    width: 100%;
    margin: 32px 0px;
    padding: 10px 0px;
    border-radius: 20px;
}

.signup {
    text-align: center;
    margin-bottom: 60px
}

.signup a {
    text-decoration: underline;
}